@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Roboto";
    background-color:#272b23;
    color:#14fe17;
    font-family: 'Monofonto';
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
body::before{
    height:100%;
    width:100%;
    content:"";
    position:absolute;
    top:0;
    left:0;
    background: repeating-linear-gradient( 0deg, rgba(0,0,0,.5) ,rgba(0,0,0,4) 1px, transparent 2px);
    opacity: 0.3;
    z-index: 100000;
    pointer-events: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;